# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
/python/sesr_collapse_m5_x4.rknn
/python/check0_base_optimize.onnx
/python/check2_correct_ops.onnx
/python/check3_fuse_ops.onnx
